<% provide(:title, "Articles") %>

<% if @articles.present? %>
  <section class="table-header mb-3">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h3 class="heading">Articles</h3>
      </div>
    </div>
  </section>
  <table class="table table-hover" width="100%">
    <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Author</th>
        <th>Title</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each_with_index do |article, index| %>
        <tr>
          <td class="heading"><%= index+1 %></td>
          <td class="heading"><%= article.author %></td>
          <td class="heading"><%= article.title %></td>
          <td class="edit-delete-article">
            <%= link_to "Show Content", article_path(article), class: "btn btn-sm btn-primary", title: "Show Article content" %>
            <%= link_to "Delete Article", article_path(article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger", title: "Delete?" %>
          </td>  
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2 class="text-center text-muted mt-5"> No Articles present</h2>
<% end %>