<% provide(:title, @article.title) %>

<section class="table-header mb-3">
  <div class="row">
    <div class="col-6 article-and-comment-heading">
      <h2 class="text-center"><%= @article.title.upcase %></h2>
      <h5 class="text-center">Author: <%= @article.author %></h5>
    </div>
    <div class="col-6 text-right">
      <div class="row btn-toolbar" style="display: block">
        <% if logged_in? %>
          <% if @article.user_id == current_user.id %>
            <%= link_to "Edit Article", edit_article_path(@article), class: "btn btn-md btn-primary", title: "Edit this Article" %>
          <% end %>
        <% end %>
        <%= link_to "Articles List", articles_path, class: "btn btn-md btn-secondary", title: "Show list of Articles" %>
      </div>
    </div>
  </div>
</section>
<section class="container">   
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 md-6">
      <div class="card card-header">
        <div class="mb-1">
          <span class="article-content"><%= @article.body %></span>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="commment_section">
  <%= render "comments" %>
</div>