<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
  <% if logged_in? %>
    <%= link_to "#{ current_user.name }'s Homepage", articles_path, class: "navbar-brand", title: "Move to #{ current_user.name }'s Homepage" %>
  <% else %>
    <%= link_to "Online Magazine", root_path, class: "navbar-brand ml-15", title: "Move to Application Homepage" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <% if logged_in? %>
        <li class="nav-item active">
          <%= link_to "Create New Article", new_article_path, class: "nav-link", title: "Edit your Email id/Password" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Edit credentials", edit_user_path(current_user), class: "nav-link", title: "Edit your Email id/Password" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Log Out", logout_path, method: :delete, class: "nav-link", title: "logout from your account" %>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to "Log In", login_path, class: "nav-link", title: "Log in into your account" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Sign Up", signup_path, class: "nav-link", title: "Create new account" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>